.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%;
}

.background {
  viewport-fill: pink;
}

.container {
  height: 80%;
}

#tumbler-hour {
  x: 24;
  y: 70;
  width: 120;
  height: 50%;
}
#tumbler-mins {
  x: 158;
  y: 70;
  width: 120;
  height: 50%;
}
#tumbler-hour #value text {
  x: 100%;
  text-anchor: end;
}
.tumbler-colon {
  x: 141;
  y: -30;
  width: 12;
}

.application-fill {
  fill: fb-black;
}
/* .foreground-fill            { fill: fb-white; } */
.background-fill {
  fill: fb-white;
}

#start-button #text {
  text-buffer: "BRITTANY";
}

#stop-button #text {
  text-buffer: "STOP";
}