.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%;
}

.background {
  viewport-fill: fb-black;
}

.container {
  height: 80%;
}

#tumbler-hour {
  x: 24;
  y: 70;
  width: 120;
  height: 50%;
}
#tumbler-mins {
  x: 158;
  y: 70;
  width: 120;
  height: 50%;
}
#tumbler-hour #value text {
  x: 100%;
  text-anchor: end;
}
.tumbler-colon {
  x: 141;
  y: -30;
  width: 12;
}

.application-fill {
  fill: fb-black;
}
.foreground-fill {
  fill: fb-white;
}
.background-fill {
  fill: fb-black;
}

#start-button #text {
  text-buffer: "START";
  fill: fb-white;
}

#stop-button #text {
  text-buffer: "STOP";
  fill: fb-white;
}

#silence-alarm-button #text {
  text-buffer: "ALARM!";
  font-size: "55";
  font-family: "System-Regular";
  text-anchor: "middle";
  fill: fb-white;
}

#silence-alarm-button {
  x: 0;
  y: 0;
  height: "100%";
}
